In [38]:
from __future__ import print_function
import numpy as np
np.random.seed(1)
import sys
import sklearn
import sklearn.ensemble
%load_ext autoreload
%autoreload 2
from anchor import utils
from anchor import anchor_tabular

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
dataset_folder = '/home/spenser/Downloads/'
dataset = utils.load_dataset('adult', dataset_folder=dataset_folder)

In [8]:

explainer = anchor_tabular.AnchorTabularExplainer(dataset.class_names, dataset.feature_names, dataset.data, dataset.categorical_names)
explainer.fit(dataset.train, dataset.labels_train, dataset.validation, dataset.labels_validation)

In [33]:
dataset.class_names.dtype

AttributeError: 'list' object has no attribute 'dtype'

In [34]:
dataset.feature_names.dtype

AttributeError: 'list' object has no attribute 'dtype'

In [35]:
dataset.data.dtype

dtype('float64')

In [37]:
dataset.categorical_names

{1: ['?',
  'Federal-gov',
  'Local-gov',
  'Never-worked',
  'Private',
  'Self-emp-inc',
  'Self-emp-not-inc',
  'State-gov',
  'Without-pay'],
 2: ['10th',
  '11th',
  '12th',
  '1st-4th',
  '5th-6th',
  '7th-8th',
  '9th',
  'Assoc-acdm',
  'Assoc-voc',
  'Bachelors',
  'Doctorate',
  'HS-grad',
  'Masters',
  'Preschool',
  'Prof-school',
  'Some-college'],
 3: ['Divorced',
  'Married-AF-spouse',
  'Married-civ-spouse',
  'Married-spouse-absent',
  'Never-married',
  'Separated',
  'Widowed'],
 4: ['?',
  'Adm-clerical',
  'Armed-Forces',
  'Craft-repair',
  'Exec-managerial',
  'Farming-fishing',
  'Handlers-cleaners',
  'Machine-op-inspct',
  'Other-service',
  'Priv-house-serv',
  'Prof-specialty',
  'Protective-serv',
  'Sales',
  'Tech-support',
  'Transport-moving'],
 5: ['Husband',
  'Not-in-family',
  'Other-relative',
  'Own-child',
  'Unmarried',
  'Wife'],
 6: ['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White'],
 7: ['Female', 'Male'],
 8: ['0', '1', '2'],
 9: ['0', '1', '2'],
 11: ['?',
  'Cambodia',
  'Canada',
  'China',
  'Columbia',
  'Cuba',
  'Dominican-Republic',
  'Ecuador',
  'El-Salvador',
  'England',
  'France',
  'Germany',
  'Greece',
  'Guatemala',
  'Haiti',
  'Holand-Netherlands',
  'Honduras',
  'Hong',
  'Hungary',
  'India',
  'Iran',
  'Ireland',
  'Italy',
  'Jamaica',
  'Japan',
  'Laos',
  'Mexico',
  'Nicaragua',
  'Outlying-US(Guam-USVI-etc)',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Puerto-Rico',
  'Scotland',
  'South',
  'Taiwan',
  'Thailand',
  'Trinadad&Tobago',
  'United-States',
  'Vietnam',
  'Yugoslavia'],
 0: ['Age <= 28.00',
  '28.00 < Age <= 37.00',
  '37.00 < Age <= 48.00',
  'Age > 48.00'],
 10: ['Hours per week <= 40.00',
  '40.00 < Hours per week <= 45.00',
  'Hours per week > 45.00']}

In [14]:
c = sklearn.ensemble.RandomForestClassifier(n_estimators=50, n_jobs=5)
c.fit(explainer.encoder.transform(dataset.train), dataset.labels_train)
predict_fn = lambda x: c.predict(explainer.encoder.transform(x))
print('Train', sklearn.metrics.accuracy_score(dataset.labels_train, predict_fn(dataset.train)))
print('Test', sklearn.metrics.accuracy_score(dataset.labels_test, predict_fn(dataset.test)))

Train 0.9234874078624079
Test 0.8385016886705557

In [15]:
idx = 0
np.random.seed(1)
print('Prediction: ', explainer.class_names[predict_fn(dataset.test[idx].reshape(1, -1))[0]])
exp = explainer.explain_instance(dataset.test[idx], c.predict, threshold=0.95)

Prediction:  b'>50K'

In [16]:
print('Anchor: %s' % (' AND '.join(exp.names())))
print('Precision: %.2f' % exp.precision())
print('Coverage: %.2f' % exp.coverage())

Anchor: Occupation = Tech-support AND Marital Status = Married-civ-spouse AND Relationship = Husband AND Age > 48.00 AND Education = Assoc-voc AND Sex = Male
Precision: 0.95
Coverage: 0.00

In [17]:
# Get test examples where the anchora pplies
fit_anchor = np.where(np.all(dataset.test[:, exp.features()] == dataset.test[idx][exp.features()], axis=1))[0]
print('Anchor test coverage: %.2f' % (fit_anchor.shape[0] / float(dataset.test.shape[0])))
print('Anchor test precision: %.2f' % (np.mean(predict_fn(dataset.test[fit_anchor]) == predict_fn(dataset.test[idx].reshape(1, -1)))))

Anchor test coverage: 0.00
Anchor test precision: 1.00

In [18]:
print('Partial anchor: %s' % (' AND '.join(exp.names(1))))
print('Partial precision: %.2f' % exp.precision(1))
print('Partial coverage: %.2f' % exp.coverage(1))

Partial anchor: Occupation = Tech-support AND Marital Status = Married-civ-spouse
Partial precision: 0.39
Partial coverage: 0.01